@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);.Header, .AddBox, .AddBox .new-folder_btn, .AddBox .new-website_btn, .AddBox .new-website_btn span {
  display: flex;
  justify-content: center;
  align-items: center; }

.devmode {
  border: 1px solid; }

.App {
  width: 333px;
  height: 511px;
  background: #ffffff;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 1;
  overflow: hidden;
  position: relative; }
  .App button {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    font-weight: 600; }
  .App p,
  .App h1,
  .App h2,
  .App h3,
  .App h4 {
    font-family: "Source Sans Pro", sans-serif; }

.Header {
  height: 40px;
  background: #0e0e0e;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.AddBox {
  background: #0e0e0e;
  width: 25%;
  position: relative;
  height: 100%; }
  .AddBox .new-folder_btn {
    width: 28%;
    height: 100%;
    left: 0px;
    border: none;
    background: #0e0e0e;
    position: absolute;
    cursor: pointer;
    outline: none; }
    .AddBox .new-folder_btn:hover, .AddBox .new-folder_btn:focus {
      background: #2f2f2f; }
  .AddBox .new-folder_window {
    width: 120px;
    padding: 0;
    height: 30px;
    position: absolute;
    background: #0e0e0e;
    transition: opacity 150ms ease-out;
    border-radius: 4px;
    z-index: 55;
    top: 28px;
    left: 8px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    outline: none; }
    .AddBox .new-folder_window svg {
      margin-right: 10px; }
    .AddBox .new-folder_window:hover {
      background: #2e2e2e; }
    .AddBox .new-folder_window:active {
      background: #0e0e0e; }
  .AddBox .new-website_btn {
    width: 100%;
    height: 100%;
    border: none;
    background: #0e0e0e;
    padding-left: 18px;
    cursor: pointer;
    outline: none; }
    .AddBox .new-website_btn svg {
      stroke: #ffffff; }
    .AddBox .new-website_btn:active {
      background: #2f2f2f; }
    .AddBox .new-website_btn span {
      border: 1px solid #ffffff;
      border-radius: 50%;
      width: 20px;
      height: 20px; }

.SearchBox {
  background: #0e0e0e;
  width: 100%;
  height: 100%;
  position: relative;
  border-left: 1px solid #8b8b8b;
  z-index: 50; }
  .SearchBox input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0 15px 0 12px;
    background: #0e0e0e;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    transition: background 150ms ease-out; }
    .SearchBox input::placeholder {
      color: #d0d0d0; }
    .SearchBox input:focus {
      background: #fcfcfc;
      outline: none;
      color: #0e0e0e; }
      .SearchBox input:focus::placeholder {
        color: #0e0e0e; }
  .SearchBox input:focus ~ .info-icon > .SVG_INFO > svg .icircle_svg {
    fill: #0e0e0e; }
  .SearchBox input:focus ~ .info-icon > .SVG_INFO > svg .ocircle_svg {
    stroke: #0e0e0e; }
  .SearchBox input:focus ~ .info-icon > .SVG_INFO > svg .info_svg {
    fill: #ffffff; }
  .SearchBox input:focus ~ .info-icon > .SVG_INFO > svg .smcircle_svg {
    fill: #ffffff; }
  .SearchBox .info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 15px;
    position: absolute; }
    .SearchBox .info-icon svg {
      cursor: pointer; }
      .SearchBox .info-icon svg .icircle_svg {
        fill: #ffffff; }
      .SearchBox .info-icon svg .ocircle_svg {
        stroke: #ffffff; }
      .SearchBox .info-icon svg .info_svg {
        fill: #0e0e0e; }
      .SearchBox .info-icon svg .smcircle_svg {
        fill: #0e0e0e; }
      .SearchBox .info-icon svg:hover .icircle_svg {
        fill: #b5b5b5; }
      .SearchBox .info-icon svg:hover .ocircle_svg {
        stroke: #b5b5b5; }
      .SearchBox .info-icon svg:hover .info_svg {
        fill: #0e0e0e; }
      .SearchBox .info-icon svg:hover .smcircle_svg {
        fill: #0e0e0e; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; }
  body h1 {
    padding: 0;
    margin: 0; }
