.App {
	width: 100%;
}

.App .header{
	width: 100%;
	background: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 60px 0;
}

.App .header .title {
	font-size: 20px;
	border: 4px solid white;
	font-weight: 500;
	padding: 7px 15px;
	text-align: center;
	border-radius: 10px;
	letter-spacing: 5px;
	margin: 0;
}

.App .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px 0;
}	

.App .content .title{
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 5px;
}

.App .content .desc{
	font-size: 15px;
	margin: 0;
}
		
.App .content .desc2{
	font-size: 15px;
	padding: 6px;
	margin: 0;
}